on: [push, pull_request]
name: Lints
jobs:
  clippy:
    strategy:
      matrix:
        target:
          - i686-unknown-linux-gnu
          - x86_64-unknown-linux-gnu
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@nightly
        with:
          target: ${{ matrix.target }}
          components: clippy
      - name: Check Clippy lints
        run: cargo clippy --target ${{ matrix.target }} --verbose
      - name: Check Clippy lints on tests
        run: cargo clippy --target ${{ matrix.target }} --verbose --tests

      - name: Check Clippy lints (all features)
        run: cargo clippy --target ${{ matrix.target }} --verbose --all-features
      - name: Check Clippy lints on tests (all features)
        run: cargo clippy --target ${{ matrix.target }} --verbose --tests --all-features
